<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Pigeon</title>
<body> 
    {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/preferences/">Preferences</a></li>
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/logout/">Log Out</a></li>
            </ul>
        </nav>
    {% else %}
        <nav>
            <ul>
                <li><a href="/login/">Log In</a></li>
                <li><a href="/register/">Register</a></li>
            </ul>
        </nav>
    {% endif %}


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
