{% extends 'base.html' %}

{% block content %}
<h1>Category Ratings</h1>

<ul id="ratings-list">
    {% for category_data in category_ratings %}
        <li>
            <h3>{{ category_data.0.0 }} - {{ category_data.0.1 }}</h3>
            <ul>
                {% for subcategory_data in category_data.1 %}
                    <li>
                        {{ subcategory_data.0 }} - 
                        <input type="number" class="rating-input" data-category="{{ category_data.0.0 }}" data-subcategory="{{ subcategory_data.0 }}" value="{{ subcategory_data.1 }}">
                        
                        {% if subcategory_data.2.movedToUnused %}
                            <button type="button" onclick="moveSubcategoryBack({{ forloop.parentloop.counter0 }}, {{ forloop.counter0 }})">Move Back</button>
                        {% else %}
                            <button type="button" onclick="moveSubcategoryToUnused({{ forloop.parentloop.counter0 }}, {{ forloop.counter0 }})">Move to Unused</button>
                        {% endif %}
                        
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>


<h2>Unused Preferences</h2>
<ul id="unused-preferences">
    {% for category_data in category_ratings %}
        {% for unused in category_data.2 %}
            <li>
                {{ unused.0 }} - {{ unused.1 }}

            </li>
        {% endfor %}
    {% endfor %}
</ul>

<form id="ratings-form">
    <button type="button" id="save-changes" onclick="saveChanges()">Save Changes</button>
</form>


<script>

    var category_ratings = {{ category_ratings|safe }};
    
    function moveSubcategoryToUnused(categoryIndex, subcategoryIndex) {
        var subcategory = category_ratings[categoryIndex][1].splice(subcategoryIndex, 1)[0];
        subcategory.movedToUnused = true; // Mark as moved to Unused
        category_ratings[categoryIndex][2].push(subcategory);
        console.log(`Moved ${subcategory[0]} to "Unused"`);
        console.log('Updated category_ratings array:', category_ratings);
        
        // Call the DOM update function
        updateDOM();
    }
    
    function moveSubcategoryBack(categoryIndex, subcategoryIndex) {
        var subcategory = category_ratings[categoryIndex][2].splice(subcategoryIndex, 1)[0];
        subcategory.movedToUnused = false; // Mark as not moved to Unused
        category_ratings[categoryIndex][1].push(subcategory);
        console.log(`Moved ${subcategory[0]} back from "Unused"`);
        console.log('Updated category_ratings array:', category_ratings);
        
        // Call the DOM update function
        updateDOM();
    }

    function updateDOM() {
        var ratingsList = document.getElementById('ratings-list');
        var unusedPrefsList = document.getElementById('unused-preferences');
        
        ratingsList.innerHTML = ''; // Clear the list
        unusedPrefsList.innerHTML = ''; // Clear the unused prefs list
        
        for (var categoryIndex = 0; categoryIndex < category_ratings.length; categoryIndex++) {
            var categoryData = category_ratings[categoryIndex];
            var categoryName = categoryData[0][0];
            var subcategories = categoryData[1];
            
            var categoryItem = document.createElement('li');
            categoryItem.innerHTML = '<h3>' + categoryName + ' - ' + categoryData[0][1] + '</h3><ul></ul>';
            
            var subcategoriesList = categoryItem.querySelector('ul');
            
            for (var subcategoryIndex = 0; subcategoryIndex < subcategories.length; subcategoryIndex++) {
                var subcategoryData = subcategories[subcategoryIndex];
                var subcategoryName = subcategoryData[0];
                var rating = subcategoryData[1];
                var movedToUnused = subcategoryData.movedToUnused || false;
                
                var subcategoryItem = document.createElement('li');
                subcategoryItem.innerHTML = subcategoryName + ' - ' + 
                    '<input type="number" class="rating-input" data-category="' + categoryName + '" data-subcategory="' + subcategoryName + '" value="' + rating + '">' +
                    (movedToUnused ?
                        '<button type="button" onclick="moveSubcategoryBack(' + categoryIndex + ', ' + subcategoryIndex + ')">Move Back</button>' :
                        '<button type="button" onclick="moveSubcategoryToUnused(' + categoryIndex + ', ' + subcategoryIndex + ')">Move to Unused</button>'
                    );
                
                subcategoriesList.appendChild(subcategoryItem);
            }
            
            ratingsList.appendChild(categoryItem);
        }
        
        // Populate the unused preferences list and add buttons to move them back
        for (var categoryIndex = 0; categoryIndex < category_ratings.length; categoryIndex++) {
            var unusedSubcategories = category_ratings[categoryIndex][2];
            
            for (var subcategoryIndex = 0; subcategoryIndex < unusedSubcategories.length; subcategoryIndex++) {
                var subcategoryData = unusedSubcategories[subcategoryIndex];
                var subcategoryName = subcategoryData[0];
                
                var unusedSubcategoryItem = document.createElement('li');
                unusedSubcategoryItem.textContent = subcategoryName;
                
                var moveBackButton = document.createElement('button');
                moveBackButton.textContent = 'Move Back';
                moveBackButton.onclick = (function(catIndex, subcatIndex) {
                    return function() {
                        moveSubcategoryBack(catIndex, subcatIndex);
                        updateDOM(); // Update the DOM after moving back
                    };
                })(categoryIndex, subcategoryIndex);
                
                unusedSubcategoryItem.appendChild(moveBackButton);
                unusedPrefsList.appendChild(unusedSubcategoryItem);
            }
        }
    }



    function saveChanges() {
        // Get all the rating inputs
        var ratingInputs = document.querySelectorAll('.rating-input');

        // Create a dictionary to store the changed ratings
        var changedRatings = {};

        // Loop through each rating input
        ratingInputs.forEach(function(input) {
            var category = input.getAttribute('data-category');
            var subcategory = input.getAttribute('data-subcategory');
            var rating = parseInt(input.value);

            // Store the changed rating in the dictionary
            if (!changedRatings[category]) {
                changedRatings[category] = {};
            }
            changedRatings[category][subcategory] = rating;
        });

        // Update the displayed ratings on the screen
        for (var category in changedRatings) {
            for (var subcategory in changedRatings[category]) {
                // Find the corresponding rating input
                var input = document.querySelector(
                    '.rating-input[data-category="' + category + '"][data-subcategory="' + subcategory + '"]'
                );

                // Update the value of the input
                if (input) {
                    input.value = changedRatings[category][subcategory];
                }
            }
        }

        // Update the underlying category_ratings array with the changed ratings
        for (var i = 0; i < category_ratings.length; i++) {
            var categoryData = category_ratings[i];
            var category = categoryData[0][0];
            var subcategories = categoryData[1];

            for (var j = 0; j < subcategories.length; j++) {
                var subcategoryData = subcategories[j];
                var subcategory = subcategoryData[0];
                
                if (changedRatings[category] && changedRatings[category][subcategory]) {
                    subcategoryData[1] = changedRatings[category][subcategory];
                }
            }
        }

        console.log('Updated category_ratings array:', category_ratings);
    }

    // Initial DOM update
    updateDOM();


</script>


{% endblock %}
